body{
    font-size:30px;
    text-align:center;
    background-color:blue;
    color:white;
    opacity: 1;
}
button{
    background-color: black;
    border:1px solid white;
    color:green;
    padding:5px;
    text-align:left;
    font-size: 25px;
    text-decoration: none;
    margin: 4px 2px;
    display: inline-block;
}