body{
    font-size:30px;
    text-align:center;
    background-color:#c3ccdb;
    
    /* opacity: 1; */
}
button{
    background-color: black;
    border:1px solid white;
    color:green;
    padding:5px;
    text-align:left;
    font-size: 25px;
    text-decoration: none;
    margin: 5px 2px;
    display: inline-block;
}